<div class="box-container">
  <div class="app-title">Simple example app for the angular2-perfect-scrollbar</div>

  <div class="info-container">
    This example has only vertical scrolling (the horizontal scrolling is disabled by the global configuration).
  </div>

  <div class="box-title">Controls</div>

  <div class="action-container">
    <button class="action-button" (click)="onScrollToTop()">Scroll To Top</button>

    <button class="action-button" (click)="onScrollToBottom()">Scroll To Bottom</button>
  </div>

  <div class="horizontal-container">
    <div class="vertical-container">
      <div class="box-title">Component</div>

      <div class="list-container">
        <perfect-scrollbar class="scrollbar-element">
          Scroll<br>
          me!<br>
          <br>
          I<br>
          am<br>
          an<br>
          example<br>
          content<br>
          text<br>
          for<br>
          this<br>
          cool<br>
          scrollable<br>
          area<br>
          in<br>
          this<br>
          example<br>
          app<br>
          which<br>
          is<br>
          using<br>
          the<br>
          angular2<br>
          perfect<br>
          scrollbar<br>
          library<br>
        </perfect-scrollbar>
      </div>
    </div>

    <div class="vertical-container">
      <div class="box-title">Directive</div>

      <div class="list-container">
        <div perfect-scrollbar class="scrollbar-element">
          Scroll<br>
          me!<br>
          <br>
          I<br>
          am<br>
          an<br>
          example<br>
          content<br>
          text<br>
          for<br>
          this<br>
          cool<br>
          scrollable<br>
          area<br>
          in<br>
          this<br>
          example<br>
          app<br>
          which<br>
          is<br>
          using<br>
          the<br>
          angular2<br>
          perfect<br>
          scrollbar<br>
          library<br>
        </div>
      </div>
    </div>
  </div>
</div>
