<div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
  <div class="app-title">Simple example app for the ngx-perfect-scrollbar</div>

  <div class="info-container">
    You can change the type and control the Perfect Scrollbar element by clicking the buttons on the controls pane.
  </div>

  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="100%">
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Controls</div>

      <div class="action-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='toggleType()'>{{(type == "component") ? "Switch to directive" : "Switch to component"}}</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToTop()'>Scroll to top</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToLeft()'>Scroll to left</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToRight()'>Scroll to right</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToBottom()'>Scroll to bottom</div>

        <div class="action-button" fxLayout="column" fxLayoutAlign="center" fxFlex="auto" (click)='scrollToXY(25, 50)'>Animate to 25,50</div>
      </div>
    </div>

    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Perfect Scrollbar</div>

      <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
        <perfect-scrollbar *ngIf="type === 'component'" class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true">
          <div class="scrollable-content">
            Scroll<br>
            me!<br>
            <br>
            I<br>
            am<br>
            an<br>
            example<br>
            content<br>
            text<br>
            for<br>
            this<br>
            really<br>
            cooooooooooooooooooooooooooooooooooooooooooooooooool<br>
            scrollable<br>
            area<br>
            in<br>
            this<br>
            example<br>
            app<br>
            which<br>
            is<br>
            using<br>
            the<br>
            angular2<br>
            perfect<br>
            scrollbar<br>
            library<br>
          </div>
        </perfect-scrollbar>

        <div *ngIf="type === 'directive'" class="scroll-container ps" fxFlex="auto" [perfectScrollbar]="config">
          <div class="scrollable-content">
            Scroll<br>
            me!<br>
            <br>
            I<br>
            am<br>
            an<br>
            example<br>
            content<br>
            text<br>
            for<br>
            this<br>
            really<br>
            cooooooooooooooooooooooooooooooooooooooooooooooooool<br>
            scrollable<br>
            area<br>
            in<br>
            this<br>
            example<br>
            app<br>
            which<br>
            is<br>
            using<br>
            the<br>
            angular2<br>
            perfect<br>
            scrollbar<br>
            library<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
