<div class="box-container" fxLayout="column" [ngStyle.lt-sm]="'min-height: 800px;'">
  <div class="app-title">Simple example app for the ngx-perfect-scrollbar</div>

  <div class="info-container">
    This example has only vertical scrolling (the horizontal scrolling is disabled by the global configuration).
  </div>

  <div class="box-title">Controls</div>

  <div class="action-container">
    <button class="action-button" (click)="onScrollToTop()">Scroll To Top</button>

    <button class="action-button" (click)="onScrollToLeft()">Scroll To Left</button>

    <button class="action-button" (click)="onScrollToRight()">Scroll To Right</button>

    <button class="action-button" (click)="onScrollToBottom()">Scroll To Bottom</button>

    <button class="action-button" (click)="onScrollToXY(0, 100)">Scroll To 0,100</button>

    <button class="action-button" (click)="onScrollToXY(10, 10)">Scroll To 10,10</button>
  </div>

  <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex>
    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Component</div>

      <div class="list-container" fxLayout="column" style="position: relative" fxLayoutAlign="stretch" fxFlex>
        <perfect-scrollbar class="ps-spacing-sm" fxFlex [config]="config" [scrollIndicators]="true">
          <div>
            Scroll<br>
            me!<br>
            <br>
            I<br>
            am<br>
            an<br>
            example<br>
            content<br>
            text<br>
            for<br>
            this<br>
            really<br>
            cooooooooooooooooooooooooooooooooooooooooooooooooool<br>
            scrollable<br>
            area<br>
            in<br>
            this<br>
            example<br>
            app<br>
            which<br>
            is<br>
            using<br>
            the<br>
            angular2<br>
            perfect<br>
            scrollbar<br>
            library<br>
          </div>
        </perfect-scrollbar>
      </div>
    </div>

    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
      <div class="box-title">Directive</div>

      <div class="list-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
        <div fxFlex [perfect-scrollbar]="config">
          <div>
            Scroll<br>
            me!<br>
            <br>
            I<br>
            am<br>
            an<br>
            example<br>
            content<br>
            text<br>
            for<br>
            this<br>
            really<br>
            cooooooooooooooooooooooooooooooooooooooooooooooooool<br>
            scrollable<br>
            area<br>
            in<br>
            this<br>
            example<br>
            app<br>
            which<br>
            is<br>
            using<br>
            the<br>
            angular2<br>
            perfect<br>
            scrollbar<br>
            library<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
