:host {
  font-family: sans-serif;
}

.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container {
  padding: 12px 16px;
  margin: 0 -16px 0 0;
}

.action-button {
  padding: 2px 8px;
  margin: 6px 12px 6px 0;

  cursor: pointer;
}

.list-container {
  position: relative;
  min-height: 0;
  padding: 24px;
  margin: 12px 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}
