<div class="box-container">
  <div class="app-title">{{title}}</div>

  <div class="info-container">
    Horizontal scrolling is disabled in this example by the default configuration (see app.module.ts)
  </div>

  <div class="list-container">
    <perfect-scrollbar class="scrollbar-element">
      Scroll<br>
      me!<br>
      <br>
      I<br>
      am<br>
      an<br>
      example<br>
      content<br>
      text<br>
      for<br>
      this<br>
      cool<br>
      scrollable<br>
      area<br>
      in<br>
      this<br>
      example<br>
      app<br>
      which<br>
      is<br>
      using<br>
      the<br>
      angular2<br>
      perfect<br>
      scrollbar<br>
      library<br>
    </perfect-scrollbar>
  </div>
</div>
